# Build folders
build/
*/build/

# CMake cache files
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
cmake_install.cmake
CTestTestfile.cmake

# Qt Creator specific
*.user
*.pro.user
*.qbs.user
*.creator.user
*.creator
*.autosave

# Logs and backups
*.log
*.bak

# OS-specific
.DS_Store
Thumbs.db
